Source: guideos-ticket-tool
Section: misc
Priority: optional
Maintainer: Actionschnitzel <actionschnitzel@guideos.de>
Build-Depends: debhelper (>= 9), python3, python3-setuptools, rsync
Standards-Version: 0.0.3
Homepage: https://guideos.de

Package: guideos-ticket-tool
Architecture: all
Depends: ${misc:Depends}, python3-gi, gir1.2-gtk-3.0, python3-requests, python3-pil
Description: Bug report tool for Linux Guide OS
  A simple GUI tool to report bugs in Guide OS to our issue tracker.